#GameTitle {
    font-size: 24px;
}

td {
    width: 20px;
    height: 20px;
}
  
table {
    margin: 5px left;
}
  
.vertical {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
  
.horizontal {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}